<mapper namespace="com.vibe.mapper.AttendanceRecordMapper">

    <select id="getAttendanceRecordList" parameterType="com.vibe.model.AttendanceRecordSearchParamVO"
            resultType="com.vibe.model.AttendanceRecordVO">
        SELECT id, name, check_in_time, check_out_time
        FROM vibe.attendance_records
        <where>
            <if test="name != null and name != ''">
                AND name = #{name}
            </if>
            <if test="checkInTimeFrom != null and checkInTimeFrom != ''">
                AND check_in_time &gt;= #{checkInTimeFrom}
            </if>
            <if test="checkInTimeTo != null and checkInTimeTo != ''">
                AND check_in_time &lt;= #{checkInTimeTo}
            </if>
        </where>
        ORDER BY check_in_time DESC
    </select>

    <insert id="insertAttendanceRecord" parameterType="com.vibe.model.AttendanceRecordVO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO vibe.attendance_records (name, check_in_time, check_out_time)
        VALUES (#{name}, #{checkInTime}, #{checkOutTime})
    </insert>

    <update id="updateAttendanceRecord" parameterType="com.vibe.model.AttendanceRecordVO">
        UPDATE vibe.attendance_records
        SET name = #{name},
            check_in_time = #{checkInTime},
            check_out_time = #{checkOutTime}
        WHERE id = #{id}
    </update>

    <delete id="deleteAttendanceRecord" parameterType="long">
        DELETE FROM vibe.attendance_records WHERE id = #{id}
    </delete>

</mapper>
